/* html {
    font-family: sans-serif;
    font-size: 14px;
  } */

.table {
    border: 1px solid lightgray;
}

.tbody {
    border-bottom: 1px solid lightgray;

}

/* .tbody>td {
    border-right: 1px solid lightgray;
}

.tbody>td:last-child {
    border-right: none;
} */

.th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
    text-align: center;
}

.td {
    border-right: 1px solid lightgray;
}

.td:last-child {
    border-right: none;
}
.tfoot {
    color: gray;
}

.tfoot th {
    font-weight: normal;
}